<nav>
  <p>
    <i class="fa-solid fa-graduation-cap"></i>THE DYNAMIC
    <span>VISION</span>
  </p>
  <div class="info">
    <h4><a href="#">Explore</a></h4>
    <h4><a href="#">Work</a></h4>
    <h4><a href="#">Contact</a></h4>
  </div>
</nav>
