<% layout('layouts/boilerPlate') -%>
<body>
  <div class="main">
    <div class="page1">
      <div class="blog-hero">
        <%- include('../includes/navbar')%>
        <div class="hero">
          <div class="left">
            <div class="hero-left-text left-text">
              <p class="corner">Welcome to our blog corner!</p>
              <h1 class="explore">Explore, <span>Learn</span> & Grow<br /></h1>
              <p>
                We believe that learning extends beyond textbooks. Through
                creativity,<br />curiosity, and fun, we aim to nurture young
                minds.
              </p>
            </div>
            <div class="fetures">
              <h3 class="deep">
                <i class="fa-solid fa-circle-check"></i> Problem-solving ideas
              </h3>
              <div class="line">
                <h3>
                  <i class="fa-solid fa-circle-check"></i>Creative DIY
                  activities&nbsp;
                </h3>
                <h3>
                  <i class="fa-solid fa-circle-check"></i>Reading and
                  writing&nbsp;
                </h3>
              </div>
            </div>
          </div>
          <div class="blog-right-img"></div>
        </div>
      </div>
    </div>
    <div class="blog-page2 page2">
      <h1>
        Creative <span>Arts & Crafts</span> <i class="fa-solid fa-democrat"></i>
      </h1>
      <div class="art-crafts">
        <!-- <a
          href="https://supermakeit.com/blog/2018/4/10/colorful-cardboard-zoo-animals"
        > -->
        <div>
          <img
            src="./img/animal.jpg"
            alt=""
            data-link="https://supermakeit.com/blog/2018/4/10/colorful-cardboard-zoo-animals"
          />
          <h2>Zoo Animals!</h2>
        </div>
        <!-- </a> -->
        <div>
          <img
            src="./img/chritmas.jpg"
            alt=""
            data-link="https://sayyes.com/2021/12/white-foam-christmas-trees-2"
          />
          <h2>Christmas Trees</h2>
        </div>
        <div>
          <img
            src="./img/home.jpg"
            alt=""
            data-link="https://sayyes.com/2014/07/3-cute-popsicle-stick-crafts"
          />
          <h2>Stick Crafts</h2>
        </div>
      </div>
    </div>
    <div class="blog-page3 page3">
      <h1>
        Fun <span>Problem Solving</span> <i class="fa-solid fa-infinity"></i>
      </h1>
      <div class="art-crafts">
        <div>
          <img
            src="./img/cube.png"
            alt=""
            data-link="https://supermakeit.com/blog/2018/4/10/colorful-cardboard-zoo-animals"
          />
          <h2>Three way <br />mix up</h2>
        </div>
        <div>
          <img
            src="./img/15-Problem.jpg"
            alt=""
            data-link="https://sayyes.com/2021/12/white-foam-christmas-trees-2"
          />
          <h2>Problem solving <br />activities</h2>
        </div>
        <div>
          <img
            src="./img/box.jpeg"
            alt=""
            data-link="https://sayyes.com/2014/07/3-cute-popsicle-stick-crafts"
          />
          <h2>
            Tangram <br />
            pictures
          </h2>
        </div>
      </div>

      <button>
        <a
          href="https://royalsociety.org/-/media/education/teacher-consultant-resources/KS12-Problem-solving-activitiesFINAL.pdf"
          >More activities</a
        >
      </button>
    </div>
  </div>
</body>
