<% layout('layouts/boilerPlate') -%>
<body>
  <div class="main">
    <div class="page1">
      <div class="blog-hero">
        <%- include('../includes/navbar')%>
        <div class="hero">
          <div class="left">
            <div class="hero-left-text left-text">
              <p class="corner">Welcome to our blog corner!</p>
              <h1 class="explore">Explore, <span>Learn</span> & Grow<br /></h1>
              <p>
                We believe that learning extends beyond textbooks. Through
                creativity,<br />curiosity, and fun, we aim to nurture young
                minds.
              </p>
            </div>
            <div class="fetures">
              <h3 class="deep">
                <i class="fa-solid fa-circle-check"></i> Problem-solving ideas
              </h3>
              <div class="line">
                <h3>
                  <i class="fa-solid fa-circle-check"></i>Creative DIY
                  activities&nbsp;
                </h3>
                <h3>
                  <i class="fa-solid fa-circle-check"></i>Reading and
                  writing&nbsp;
                </h3>
              </div>
            </div>
          </div>
          <div class="blog-right-img"></div>
        </div>
      </div>
    </div>
    <div class="blog-page2 page2">
      <!-- <a
        href="https://supermakeit.com/blog/2018/4/10/colorful-cardboard-zoo-animals
      "
        >zoo animal</a
      >
      <a href="https://sayyes.com/2014/07/3-cute-popsicle-stick-crafts"
        >popsicle</a
      >
      <a href="https://sayyes.com/2021/12/white-foam-christmas-trees-2"
        >chritmas tree</a
      > -->
      <h1>Creative Arts & Crafts</h1>
      <div class="art-crafts">
        <div>
          <img
            src="./img/animal.jpg"
            alt=""
            data-link="https://supermakeit.com/blog/2018/4/10/colorful-cardboard-zoo-animals"
          />
          <h2>Zoo Animals!</h2>
        </div>
        <div>
          <img
            src="./img/chritmas.jpg"
            alt=""
            data-link="https://sayyes.com/2021/12/white-foam-christmas-trees-2"
          />
          <h2>Christmas Trees</h2>
        </div>
        <div>
          <img
            src="./img/home.jpg"
            alt=""
            data-link="https://sayyes.com/2014/07/3-cute-popsicle-stick-crafts"
          />
          <h2>Stick Crafts</h2>
        </div>
      </div>
    </div>
  </div>
</body>
