<% layout('layouts/boilerPlate') -%>
<body>
  <div class="main">
    <div class="page1">
      <nav>
        <p>
          <i class="fa-solid fa-graduation-cap"></i>THE DYNAMIC
          <span>VISION</span>
        </p>
        <div class="info">
          <h4><a href="#">Explore</a></h4>
          <h4><a href="#">Work</a></h4>
          <h4><a href="#">Contact</a></h4>
        </div>
      </nav>
      <div class="hero">
        <div class="left">
          <div class="left-text">
            <h1>Unlock Your Child's <br /><span>Brightest Future</span></h1>

            <p>
              Fun, engaging, and real-life learning experiences for every young
              explorer.
            </p>
          </div>
          <button class="learn-more">Learn More &nbsp;></button><br />
          <div class="fetures">
            <h3 class="deep">
              <i class="fa-solid fa-circle-check"></i>Transforming Socicety
            </h3>
            <div class="line">
              <h3>
                <i class="fa-solid fa-circle-check"></i>Embracing Values&nbsp;
              </h3>
              <h3>
                <i class="fa-solid fa-circle-check"></i>Deep Thinking&nbsp;
              </h3>
            </div>
          </div>
        </div>
        <div class="right"></div>
      </div>
    </div>
    <div class="page2">
      <div class="points">
        <div>
          <i class="fa-solid fa-calendar"></i>
          <h2>5<sup>+</sup> Years shaping <br />young learners</h2>
        </div>
        <div>
          <i class="fa-solid fa-users"></i>
          <h2>150<sup>+</sup> Happy <br />students</h2>
        </div>
        <div>
          <i class="fa-solid fa-school"></i>
          <h2>Experiences <br />teachers</h2>
        </div>
        <div>
          <i class="fa-solid fa-globe"></i>
          <h2>World skill <br />blended with fun</h2>
        </div>
      </div>
      <div class="sub-heading">
        <h1>
          Programs That <span>inspire</span> and <br />Empower Every Child
        </h1>
        <p>
          From creativity to critical thinking, we offer a wide range of <br />
          programs designed to nurture every child's potential.
        </p>
      </div>
      <div class="points">
        <div>
          
          <h2>Creative Arts & Crafts</h2>
          <p>Unlock imagination through painting, drawing, and DIY projects.</p>
        </div>
        
      </div>
    </div>
  </div>
</body>
