<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="students.css" />
<body>
  <div class="main">
    <div class="page1">
      <%- include('../includes/navbar')%>
      <div class="students"></div>
    </div>
  </div>
  <script type="module" src="./js/showStudents.js"></script>
</body>
